{% extends 'base.html.twig' %}
{% block title %}My Garden - User detail
{% endblock %}

{% block body %}

	<!-- MENU  -->
	{% include ('admin/components/titleDashboardAdmin.html.twig') %}
	<div class="back_to text-end px-8 lg:px-16">
		<a href="{{path('show_users')}}" class="text-gray underline text-base  ">Back to users</a>
	</div>
	<div
		class="create_users w-full flex px-8 lg:px-16 mb-10">

		<!-- MENU LEFT  -->
		<aside class="menu_admin  flex flex-col w-1/3 md:w-1/6 p-2 lg:p-8 bg-gray-50">
			<div class="sticky top-0">
				{% include ('admin/_partials/menu_navigation.html.twig')%}
			</div>
		</aside>

		<!-- RIGHT USER -->
		<div class="w-2/3 md:w-5/6 bg-white border border-gray p-4 lg:p-8 h-fit">
			<div class="title_form flex  flex-wrap justify-between">
				<h2 class=" text-black font-medium text-xl mb-0 md:mb-4">User details</h2>
			</div>

			<!-- USER  -->
			<div
				class="detail_user flex flex-col lg:flex-row mt-4 lg:mt-0">

				<!-- USER DESCRIPTION  -->
				<div class="detail_user_description flex flex-col w-full lg:w-3/5 px-1 me-0 lg:px-8">
					<div
						class="detail_user_name flex flex-col lg:flex-row justify-start ">

						<!-- NAME -->
						<div class="flex me-0 lg:me-6">
							<p class="font-semibold text-lg">First Name:</p>
							<p class="font-normal text-lg mb-2 ms-1 capitalize">{{ user_detail.firstname }}</p>
						</div>

						<!-- LAST NAME -->
						<div class="flex me-0 lg:me-6">
							<p class="font-semibold text-lg">Last Name:</p>
							<p class="font-normal text-lg mb-2 ms-1 capitalize">
								{{ user_detail.lastname }}</p>
						</div>
					</div>

					<!-- EMAIL -->
					<div class="flex me-0 lg:me-6">
						<p class="font-semibold text-lg">Email:</p>
						<p class="font-normal text-lg mb-2 ms-1">
							{{ user_detail.email }}</p>
					</div>

					<!-- USER ROLE -->
					<div class="flex me-0 lg:me-6">
						<p class="font-semibold text-lg">Permission:</p>
						{% for role in user_detail.roles %}
							<p class="font-normal text-lg mb-2 ms-1">
								{{ role == 'ROLE_ADMIN' ? 'Admin' : 'User' }}
							</p>

							{% if not loop.last %},
							{% endif %}
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
