{% extends 'base.html.twig' %}

{% block title %}My Garden - Login
{% endblock %}

{% block body %}
	<!--BANNER-->
	{% include ('_partials/security/_banner_signin.html.twig')%}

	<!--LOGIN SECTION-->
	<section
		class="login w-full pt-5 lg:pt-10 pb-10">
		{# <h2 class="text-[1.5rem] md:text-[2rem] text-center  text-black font-normal">Sign In My Garden</h2>
														<!--image-->
														<img src="{{asset('assets/images/decoration_text.png')}}" loading="lazy" alt="decoration title" class="mx-auto"> #}
		<div
			class="container mx-auto px-8 lg:px-16">

			<!--FORM-->
			<div
				class="w-full lg:w-1/2 mx-auto login_form bg-gray-50 border border-gray-100 p-4 md:p-12 mt-10  shadow-lg">

				{# error message #}
				{% if error %}
					<div class="w-full items-center rounded-lg bg-red-100 py-3  text-base text-black text-center" role="alert" id="alert-static-primary">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
				{% endif %}

				<!--FORM-->
				<form
					action="{{ path('app_login') }}" method="post" class="group">

					<!--EMAIL-->
					<div class="email w-full ">
						<label for="username" class="block mb-2 text-base font-medium text-black mt-4">
							<span>Email</span>
							<input type="email" name="_username" id="username" class="w-full rounded invalid:border-red-500  focus:bg-white p-3 shadow shadow-gray-100 mt-2 appearance-none outline-none  invalid:[&:not(:placeholder-shown):not(:focus)]:border-red peer  py-2 px-3 leading-4 text-black" placeholder="Write your email" required pattern="[^@\s]+@[^@\s]+\.[^@\s]+"/>
							<div id="email_error" hidden class="text-sm text-red"></div>
						</label>
					</div>


					<!--PASSWORD-->
					<div class="password w-full relative">
						<label for="password" class=" mb-2 text-base font-medium text-black mt-4">
							<span>Password</span>
							<input type="password" name="_password" id="password" class="w-full rounded border border-gray-300 focus:bg-white p-3 shadow shadow-gray-100 mt-2 appearance-none outline-none  invalid:[&:not(:placeholder-shown):not(:focus)]:border-red peer  py-2 px-3 leading-4 text-black" placeholder="Write your password" required autocomplete="off" pattern=".{8,}" minlength="8" maxlength="16"/>
							<div id="password_error" hidden class="text-sm text-red"></div>
						</label>
					</div>

					{# security csrf  #}
					<input
					type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>

					{# redirect account page  #}
					<input
					type="hidden" name="_target_path" value="{{ path('account') }}"/>


					<!--BUTTON SIGN IN-->
					<div class="button_submit w-full ">
						<button type="submit" class="py-2 px-4 w-full  mt-6 hover:bg-white hover:text-primary transition ease-in-out delay-100 uppercase border border-primary text-base font-medium text-white  bg-primary rounded-sm group-invalid:pointer-events-none group-invalid:opacity-60 group-invalid:disabled">
							Sign in
						</button>
					</div>

				</form>
				<p class="text-end mt-4">
					<a href="{{path('forgot_password')}}" class="text-gray underline hover:text-black">Forgot your password?</a>
				</p>
				<!--DIVISOR-->
				<div
					class="flex w-full items-center h-10">
					<!--BORDER-->
					<div class="border w-3/4 mx-auto border-gray my-6 opacity-50"></div>
					<p class="mx-4">or</p>
					<!--BORDER-->
					<div class="border w-3/4 mx-auto border-gray my-6 opacity-50"></div>
				</div>

				<!--BUTTON CREATE AN ACCOUNT-->
				<div class="buttons flex items-center justify-center sm:flex-row mt-3">
					<a href="{{path('app_signup')}}" class="text-gray underline capitalize hover:text-black">Create a new account</a>
				</div>
			</div>
		</div>
	</section>

	{# VALIDATION EMAIL WITH JAVASCRIPT  #}
	<script src="{{ asset('assets/js/loginForm.js') }}"></script>
{% endblock %}
