{% extends 'base.html.twig' %}
{% block title %}My Garden -
	{{ form.vars.value.id ? 'Update Product' : 'Create New Product' }}
{% endblock %}

{% block body %}

	<!-- MENU  -->
	{% include ('admin/components/titleDashboardAdmin.html.twig') %}

	<div class="back_to text-end px-8 lg:px-16">
		<a href="{{path('show_store_admin')}}" class="text-gray underline text-base  ">Back to reviews</a>
	</div>

	<div
		class="create-products w-full flex px-4 md:px-8 lg:px-16 mb-10 relative overflow-hidden">


		<!-- MENU LEFT  -->
		{% include ('admin/_partials/menu_navigation.html.twig') %}

		<!-- RIGHT CREATE FORM -->
		<div class="w-full  bg-white border border-gray p-4 lg:p-8 overflow-x-hidden h-fit">
			<div class="title_form flex flex-wrap justify-between">
				<h2 class=" text-black font-medium text-xl mb-4">
					Update store review
					<span class="sr-only">Update store review</h2>
				</div>

				<!--ERROR MESSAGE-->
				<div id="error_messages" class="hidden text-center p-4 mb-4 text-sm rounded-lg bg-red-100 text-red-700 relative" role="alert"></div>

				<!--USER NAME-->
				<div class="mb-4 flex">
					<p class="block font-bold text-base m-0">User Name:</p>
					<span class="text-gray-700 text-base m-0 ms-2 capitalize">{{ review.user }}</span>
				</div>

				<!--FIRST NAME FROM FORM-->
				<div class="mb-4 flex">
					<p class="block font-bold text-base m-0">First Name:</p>
					<span class="text-gray-700 text-base m-0 ms-2 capitalize">{{ review.firstName }}</span>
				</div>

				<!--RATE-->
				<div class="mb-4 flex">
					<p class="block font-bold text-base m-0">Rating:</p>
					<span class="text-gray-700 text-base ms-2">{{ review.rate }}</span>
				</div>

				<!--CREATED AT-->
				<div class="mb-4 flex">
					<p class="block font-bold text-base m-0">Created at:</p>
					<span class="text-gray-700 text-base ms-2">{{ review.createdAt|date('M d Y') }}</span>
				</div>

				<!--REVIEW-->
				<div class="mb-4 flex">
					<p class="block font-bold text-base m-0">Comment:</p>
					<p class="text-gray-700 text-base m-0 ms-2">{{ review.comment }}</p>
				</div>

				<!--FORM-->
				{{ form_start(form) }}

				<!--TOGGLE BUTTON-->
				<div class="flex items-center mb-4">
					<span class="mr-3 text-sm font-medium text-gray-900 dark:text-gray-300">Is approved</span>
					<label class="inline-flex relative items-center cursor-pointer m-0">
						{{ form_widget(form.isApproved) }}
						<span class="w-11 h-6 bg-gray-200 rounded-full peer transition-colors duration-200"></span>
						<span class="absolute left-0 top-0 h-6 w-6 bg-white rounded-full border border-primary peer-checked:bg-primary transform transition-transform duration-200 peer-checked:translate-x-full"></span>
					</label>
				</div>

				<!-- SUBMIT BUTTON  -->
				<div class="text-center mt-4">
					<button type="submit" id="product_submit" class=" p-2.5 text-sm font-medium text-white bg-primary  border border-primary focus:outline-none focus:ring-primary">
						Update Store Review
						<span class="sr-only">Update Store Review button</span>
					</button>
				</div>
				{{ form_end(form) }}
			</div>
		</div>
	</div>
{% endblock %}
