{% extends 'base.html.twig' %}
{% block title %}My Garden -
	{{ form.vars.value.id ? 'Update Category' : 'Create New Category' }}
{% endblock %}

{% block body %}

	<!-- MENU  -->
	{% include ('admin/components/titleDashboardAdmin.html.twig') %}

	<div class="back_to text-end px-8 lg:px-16">
		<a href="{{path('show_blogCategories')}}" class="text-gray underline text-base">Back to categories</a>
	</div>

	<div
		class="create-products w-full flex px-4 md:px-8 lg:px-16 mb-10 relative overflow-hidden">

		<!-- MENU LEFT  -->
		{% include ('admin/_partials/menu_navigation.html.twig') %}

		<!-- RIGHT LIST AND CREATE PRODUCT -->
		<div class="w-full  bg-white border border-gray p-4 lg:p-8 overflow-x-hidden h-fit">
			<div class="title_form flex flex-col md:flex-row flex-wrap items-center  md:justify-between">
				<h2 class="text-center md:text-start flex-1 mb-2 md:mb-0 text-black font-medium text-xl ">
					{{ form.vars.value.id ? 'Update Category' : 'Create Category' }}
				</h2>
			</div>

			<!--ERROR MESSAGE-->
			<div id="error_messages" class="hidden text-center p-4 mb-4 text-sm rounded-lg bg-red-100 text-red-700 relative" role="alert"></div>

			<!--FORM-->
			{{ form_start(form,{'attr': {'id': 'categoryForm'}}) }}

			<!--NAME-->
			<div class="w-full text-base mb-4">
				{{ form_label(form.name) }}
				{{ form_widget(form.name, {'attr': {'class': 'w-full rounded bg-white p-3 shadow shadow-gray-100 mt-2 appearance-none outline-none py-2 px-3 leading-4 text-black' ~ (form_errors(form.name) ? ' error-message' : '')}}) }}
				<div class="form-error">
					{{ form_errors(form.name) }}
					<div id="blogCategory_error" hidden class="text-sm text-red"></div>
				</div>
			</div>

			<!-- SUBMIT BUTTON  -->
			<div class="text-center mt-4">
				<button type="submit" id="category_submit" class=" p-2.5 text-sm font-medium text-white bg-primary  border border-primary focus:outline-none focus:ring-primary">
					{{ form.vars.value.id ? 'Update Category' : 'Create Category' }}
					<span class="sr-only">{{ form.vars.value.id ? 'Update Category' : 'Create Category' }}
						button</span>
				</button>
			</div>
			{{ form_end(form) }}
		</div>
	</div>
	<!-- VALIDATE CREATE CATEGORY WITH JS  -->
	<script src="{{ asset('assets/js/admin/createBlogCategory.js') }}"></script>
{% endblock %}
