{% extends 'base.html.twig' %}

{% block title %}My Garden - Blog
{% endblock %}

{% block body %}
	<!--BANNER-->
	{% include ('_partials/blog/_banner.html.twig') %}

	{% if articles|length > 0 %}
		<section class=" mx-auto ">
			<div
				class="our_products w-full pt-5 lg:pt-12 pb-10">

				<!--TITLE PAGE-->
				<h2 class="text-[1.5rem] md:text-[2rem] text-center text-black font-normal">My Garden Blog</h2>

				<!--IMAGE-->
				<img
				src="{{ asset('assets/images/decoration_text.png') }}" loading="lazy" alt="decoration title" class="mx-auto">

				<!-- BLOG -->
				<div
					class="blog_block flex flex-col-reverse md:flex-row px-8 lg:px-16  items-start mt-10">

					<!--LEFT-->
					<div
						class="md:w-2/3">

						<!-- LOADING -->
						<div id="loading" class="text-center my-4 text-primary font-semibold hidden">
							<i class="fa-solid fa-spinner fa-2xl  animate-spin text-red-300  mx-auto"></i>
						</div>

						<!-- NO ARTICLE FOUND MESSAGE -->
						<div id="no-articles" class="flex justify-center  items-center">
							<p class="text-2xl text-center text-gray-600 font-normal ">No articles found. Try again.</p>
						</div>

						<!--CARDS-->
						<div id="articles-container">
							<div class="cards flex flex-wrap justify-between w-full" id="articles">
								{% include '_partials/blog/_articles.html.twig' %}
							</div>
						</div>

						<!-- LOAD MORE BUTTON -->
						{% if articles|length >= 10 %}
							<div id="load-more-container" class="flex justify-center mt-6">
								<button id="load-more" class="load-more-btn bg-primary text-white px-6 py-2 rounded">
									Load More
								</button>
							</div>
						{% endif %}
					</div>

					<!--RIGHT - FILTERS-->
					<div
						class="w-full md:ml-5 md:w-1/3 ps-0 md:ps-4 lg:ps-12 mt-0 mb-10 md:mb-0 flex flex-col md:sticky top-0">

						<!--INPUT WITH "X" TO CLEAN THE INPUT -->
						<div class="flex items-center my-4 relative">
							<input type="text" id="search" name="q" placeholder="Search articles..." class="border p-2 rounded w-full pr-10">
							<button id="clearSearch" class="absolute right-20 text-gray-500 hidden">X</button>
							<button id="searchButton" class="py-2 px-4 ml-2 text-base font-medium text-primary bg-white rounded-sm border border-primary">
								<i class="fa-solid fa-magnifying-glass"></i>
							</button>
						</div>

						<!-- CATEGORIES -->
						<div class=" my-4 md:my-8">
							<h3 class="text-[1rem] md:text-[1.2rem]  text-black font-normal uppercase">Categories</h3>
							<!--DIVISOR-->
							<div class="border w-full border-gray  opacity-50 mt-2 mb-6"></div>

							<div id="category-buttons" class="flex flex-wrap gap-2 mt-2">
								<button data-category="" class="category-btn px-4 py-2 border border-primary rounded">All</button>
								{% for category in categories %}
									<button data-category="{{ category|join(', ') }}" class="category-btn px-4 py-2 border border-primary rounded">{{ category|join(', ') }}</button>
								{% endfor %}
							</div>
						</div>

						<!-- YEARS -->
						<div class=" my-4 md:my-8">
							<h3 class="text-[1rem] md:text-[1.2rem]  text-black font-normal uppercase">Years</h3>
							<!--DIVISOR-->
							<div class="border w-full border-gray  opacity-50 mt-2 mb-6"></div>
							<div id="year-buttons" class="flex flex-wrap gap-2 mt-2">
								<button data-year="" class="year-btn w-fit px-4 py-2 border border-primary rounded">All</button>
								{% for year in years %}
									<button data-year="{{ year.year }}" class="year-btn px-4 py-2 border border-primary rounded">{{ year.year }}</button>
								{% endfor %}
							</div>
						</div>

						<!-- BORDER -->
						<div class="border-b border-px w-1/2 mx-auto border-primary block md:hidden mt-12 mb-0"></div>
					</div>
				</div>
			</div>
		</section>
	{% else %}
		<div class="container mx-auto min-w-fit px-8 max-w-lg">
			<div class="bg-bg1 p-8  my-6  mx-auto  border border-red  text-center">
				<p class="font-normal text-xl">The blog will be available soon.
				</p>
				<p class="font-normal text-xl">Feel free to visit our other pages.</p>
			</div>
		</div>
	{% endif %}

	<!-- SCRIPT  -->
	<script>
		document.addEventListener('DOMContentLoaded', function () {
const loadMoreButton = document.getElementById('load-more');
const searchButton = document.getElementById('searchButton');
const searchInput = document.getElementById('search');
const categoryButtons = document.querySelectorAll('.category-btn');
const yearButtons = document.querySelectorAll('.year-btn');
const clearSearchButton = document.getElementById('clearSearch');
const loadingMessage = document.getElementById('loading');
const noArticlesMessage = document.getElementById('no-articles');
const articlesContainer = document.getElementById('articles-container');
const articlesDiv = document.getElementById('articles');

let offset = 0;
let noMoreArticles = false;

let filters = {
category: '',
year: '',
name: ''
};

// HIDES THE 'NO ARTICLES FOUND' MESSAGE
noArticlesMessage.style.display = 'none';

// UPDATE FILTERS AND RESTART ARTICLES
function updateFilters() {
offset = 0; // RESETS THE OFFSET WHEN APPLYING FILTERS
noMoreArticles = false;
loadMoreButton.style.display = 'block';
filters.name = searchInput.value;
loadArticles(true);
}

// DISPLAY CLEAR SEARCH BUTTON ('X') DYNAMICALLY
searchInput.addEventListener('input', function () {
clearSearchButton.classList.toggle('hidden', ! searchInput.value);
});

// CLEAR SEARCH BY CLICKING 'X'
clearSearchButton.addEventListener('click', function () {
searchInput.value = '';
updateFilters();
clearSearchButton.classList.add('hidden');
});

// APPLY FILTERS BY CLICKING ON THE SEARCH BUTTON
searchButton.addEventListener('click', updateFilters);

// UPDATE FILTER BY CATEGORY
categoryButtons.forEach(button => {
button.addEventListener('click', function () {
categoryButtons.forEach(btn => btn.classList.remove('active'));
this.classList.add('active');
filters.category = this.dataset.category || '';
updateFilters();
});
});

// UPDATE FILTER BY YEAR
yearButtons.forEach(button => {
button.addEventListener('click', function () {
yearButtons.forEach(btn => btn.classList.remove('active'));
this.classList.add('active');
filters.year = this.dataset.year || '';
updateFilters();
});
});

// LOAD MORE ARTICLES BY CLICKING THE 'LOAD MORE' BUTTON
loadMoreButton ?. addEventListener('click', function () {
if (! noMoreArticles) {
loadArticles(false); // UPLOAD MORE ARTICLES WITHOUT RESETTING
}
});

function loadArticles(resetArticles = false) {
if (resetArticles) {
offset = 0; // ALWAYS START FROM THE BEGINNING WHEN APPLYING FILTERS
noMoreArticles = false;
loadingMessage.style.display = 'block';
articlesContainer.style.display = 'none';
loadMoreButton.style.display = 'none';
noArticlesMessage.style.display = 'none';
}

const queryParams = new URLSearchParams({
category: filters.category || '',
year: filters.year || '',
name: filters.name || '',
offset: offset
});

fetch (`/blog/load-more?${queryParams}`).then(response => response.json()).then(data => {
loadingMessage.style.display = 'none';

if (resetArticles) {
articlesDiv.innerHTML = data.html; // REPLACES ARTICLES
} else {
articlesDiv.innerHTML += data.html; // ADD NEW ARTICLES
} articlesContainer.style.display = 'flex';

// CHECK THAT THERE ARE NO ARTICLES TO DISPLAY
if (offset === 0 && data.totalArticles === 0) {
noArticlesMessage.style.display = 'flex';
loadMoreButton.style.display = 'none';
} else {
noArticlesMessage.style.display = 'none';
}

// UPDATES THE OFFSET ONLY IF THERE ARE MORE ARTICLES
if (data.no_more) {
loadMoreButton.style.display = 'none';
noMoreArticles = true;
} else {
offset += 10; // UPDATES THE OFFSET CORRECTLY
loadMoreButton.style.display = 'block';
noMoreArticles = false;
}
}).catch(error => console.error('Erro ao carregar artigos:', error));
}

// LOADS THE FIRST ARTICLES AT STARTUP
loadArticles(true);
});
	</script>
{% endblock %}
