<section class="our_team w-full pt-5 lg:pt-12 pb-10 bg-bg3">

	<div class="team w-full  mx-auto">
		<h2 class="text-[1.5rem] md:text-[2rem] text-center  text-black font-normal capitalize">The team</h2>
		<!--image-->
		<img
		src="{{asset('assets/images/decoration_text.webp')}}" alt="decoration title" class="mx-auto">

		<!--CARDS-->
		<div class="mx-auto container-fluid md:container  px-4  mt-6">
			<p class="mb-2 text-base max-w-[1100px] mx-auto">Our florists are passionate about their craft, taking the time to understand your preferences and offering expert advice to help you make the perfect choice.

			</p>
			<p class="mb-2 text-base max-w-[1100px] mx-auto">My Garden specializes in creating stunning ambient decorations for any occasion. From weddings to corporate events, our team excels at transforming spaces with floral designs that capture the essence of your vision.</p>

			<!--CARD OWNERS-->
			<div
				class=" flex flex-col md:flex-row  items-center justify-between lg:justify-center  mx-auto mt-12">
				<!--CARD-->
				{% for employee in employees %}
					{% if(employee.orderAppear == 1 ) %}
						<div class="flex flex-col w-full md:w-[45%] lg:w-[31%] xl:w-[25%] mx-2 lg:mx-4 xl:mx-12 mt-12">
							<img
							src="{{ asset('upload/employees/' ~ employee.imageName) }}" loading="lazy" alt="{{employee.firstName}} {{employee.lastName}}" class="w-full h-full rounded-lg">

							<!--body-->
							<div class="card-body flex flex-col items-center justify-center pt-2">
								<h3 class="text-primary font-medium capitalize text-[1rem] md:text-[1.2rem]">{{employee.firstName}}
									{{employee.lastName}}</h3>
								<p class="text-center text-base">{{employee.employeePost}}</p>
							</div>
						</div>
					{% endif %}
				{% endfor %}
			</div>

			<!--CARD EMPLOYEES-->
			<div
				class=" flex flex-wrap   items-center justify-between">
				<!--CARD-->
				{% for employee in employees %}
					{% if(employee.orderAppear == 2 ) %}
						<div class="flex flex-col w-full md:w-[45%] lg:w-[31%] xl:w-[25%] mx-2 mt-12">
							<img
							src="{{ asset('upload/employees/' ~ employee.imageName) }}" loading="lazy" alt="{{employee.firstName}} {{employee.lastName}}" class="w-full h-full">

							<!--body-->
							<div class="card-body flex flex-col items-center justify-center pt-2">
								<h3 class="text-primary font-medium capitalize text-[1rem] md:text-[1.2rem]">{{employee.firstName}}
									{{employee.lastName}}</h3>
								<p class="text-center text-base">{{employee.employeePost}}</p>
							</div>
						</div>
					{% endif %}
				{% endfor %}
			</div>
		</div>
	</div>
</section>
