<section class="trust_us w-full pt-5 lg:pt-12 pb-10 bg-bg3">
	<div class="w-full container mx-auto px-4 ">
		<h2 class="text-[1.5rem] md:text-[2rem]  text-center  text-black font-normal line_height12">They Trust Us</h2>
		<!--image-->
		<img
		src="{{asset('assets/images/decoration_text.webp')}}" alt="decoration title" class="mx-auto">

		<!--first loop-->
		<div class="flex overflow-hidden group mt-10 w-full px-4 py-8">
			<div class="flex animate-loop-scroll  group-hover:paused">
				<img src="{{asset('upload/trust_us/civil.webp')}}" loading="lazy" class="max-w-none mx-16" alt="logo company">
				<img src="{{asset('upload/trust_us/law2.webp')}}" loading="lazy" class="max-w-none mx-16" alt="logo company">
				<img src="{{asset('upload/trust_us/pen.webp')}}" loading="lazy" class="max-w-none mx-16" alt="logo company">
				<img src="{{asset('upload/trust_us/send.webp')}}" loading="lazy" class="max-w-none mx-16" alt="logo company">
				<img src="{{asset('upload/trust_us/civil.webp')}}" loading="lazy" class="max-w-none mx-16" alt="logo company">
				<img src="{{asset('upload/trust_us/univ.webp')}}" loading="lazy" class="max-w-none mx-16" alt="logo company">
			</div>

			<!--second loop-->
			<div class="flex animate-loop-scroll  group-hover:paused" aria-hidden="true">
				<img src="{{asset('upload/trust_us/civil.webp')}}" loading="lazy" class="max-w-none mx-16" alt="logo company">
				<img src="{{asset('upload/trust_us/law2.webp')}}" loading="lazy" class="max-w-none mx-16" alt="logo company">
				<img src="{{asset('upload/trust_us/pen.webp')}}" loading="lazy" class="max-w-none mx-16" alt="logo company">
				<img src="{{asset('upload/trust_us/send.webp')}}" loading="lazy" class="max-w-none mx-16" alt="logo company">
				<img src="{{asset('upload/trust_us/civil.webp')}}" loading="lazy" class="max-w-none mx-16" alt="logo company">
				<img src="{{asset('upload/trust_us/univ.webp')}}" loading="lazy" class="max-w-none mx-16" alt="logo company">
			</div>
		</div>
	</div>
</section>
