<section class="what_we_do w-full pt-20 ">

	<div class="team w-full pb-10 md:px-16 mx-auto">
		<h2 class="text-[1.5rem] md:text-[2rem] text-center  text-black font-normal mb-4 capitalize">What we do</h2>
		<!--image-->
		<img src="{{asset('assets/images/decoration_text.png')}}" loading="lazy" alt="decoration title" class="mx-auto">

		<div class="md:container mx-auto px-6 lg:px-16 mt-6">
			<p class="mb-2 text-base">Our florists are passionate about their craft, taking the time to understand your preferences and offering expert advice to help you make the perfect choice.

			</p>
			<p class="mb-2 text-base">My Garden specializes in creating stunning ambient decorations for any occasion. From weddings to corporate events, our team excels at transforming spaces with floral designs that capture the essence of your vision.</p>


			<!--CARDS-->
			<div
				class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3  gap-8 lg:gap-x-32 px-1 mt-16">

				<!--CARD-->
				<div class="flex flex-col  mb-12  ">
					<img
					src="{{asset('assets/upload/what_we_do/buquets.jpg')}}" loading="lazy" class=" group-hover:opacity-75 rounded-full" alt=""/>

					<!--body-->
					<div class="card-body flex flex-col  items-center justify-center pt-2">
						<h3 class="text-primary fond-semibold normal-case text-base text-center">Bouquet of flowers</h3>
					</div>
				</div>
				<!--CARD-->
				<div class="flex flex-col  mb-12  ">
					<img
					src="{{asset('assets/upload/what_we_do/wedding_decoration.jpg')}}" loading="lazy" class=" group-hover:opacity-75 rounded-full" alt=""/>

					<!--body-->
					<div class="card-body flex flex-col items-center justify-center pt-2">
						<h3 class="text-primary fond-semibold normal-case text-base text-center">Wedding decoration</h3>
					</div>
				</div>
				<!--CARD-->
				<div class="flex flex-col  mb-12  ">
					<img
					src="{{asset('assets/upload/what_we_do/gift.jpg')}}" loading="lazy" class=" group-hover:opacity-75 rounded-full" alt=""/>

					<!--body-->
					<div class="card-body flex flex-col items-center justify-center pt-2">
						<h3 class="text-primary fond-semibold normal-case text-base text-center">Special occasions</h3>
					</div>
				</div>
				<!--CARD-->
				<div class="flex flex-col  mb-12  ">
					<img
					src="{{asset('assets/upload/what_we_do/events.jpg')}}" loading="lazy" class=" group-hover:opacity-75 rounded-full" alt=""/>

					<!--body-->
					<div class="card-body flex flex-col items-center justify-center pt-2">
						<h3 class="text-primary fond-semibold normal-case text-base text-center">Decoration for corporate events</h3>
					</div>
				</div>
				<!--CARD-->
				<div class="flex flex-col  mb-12  ">
					<img
					src="{{asset('assets/upload/what_we_do/bride_bouquet.jpg')}}" loading="lazy" class=" group-hover:opacity-75 rounded-full" alt=""/>

					<!--body-->
					<div class="card-body flex flex-col items-center justify-center pt-2">
						<h3 class="text-primary fond-semibold normal-case text-base text-center">Bride’s bouquet</h3>
					</div>
				</div>
				<!--CARD-->
				<div class="flex flex-col  mb-12  ">
					<img
					src="{{asset('assets/upload/what_we_do/valentine.jpg')}}" loading="lazy" class=" group-hover:opacity-75 rounded-full" alt=""/>

					<!--body-->
					<div class="card-body flex flex-col items-center justify-center pt-2">
						<h3 class="text-primary fond-semibold normal-case text-base text-center">Valentine’s day</h3>
					</div>
				</div>

			</div>
		</div>
	</div>
</section>
