{% if headers|length > 0 %}
	<div
		class="relative w-full overflow-hidden">

		<!--CAROUSEL-->
		<div id="carousel" class="flex transition-transform duration-700 ease-in-out ">
			{% for header in headers %}
				<div class="min-w-full  py-8 sm:py-12 lg:py-0 flex items-center justify-center px-8 lg:px-32 xl:px-48 {% if header.sideImage == 'left' %} flex-row-reverse  {% endif %}" style="background-color: {{ header.backgroundColor }};">
					<div
						class="w-full {% if header.sideImage == 'left' %} ps-0 lg:ps-8 {% else %} pe-0 lg:pe-8 {% endif %}">

						<!--TEXTS-->
						<h2 class="text-[2rem] md:text-[2.5rem]  text-center lg:text-left font-bold text-gray-800 ">{{ header.content }}</h2>
						<p class="mt-4 text-lg text-gray-600 text-center lg:text-left">{{ header.content }}</p>
						<div
							class="mt-6 flex flex-wrap justify-center lg:justify-start gap-4">

							<!--BUTTON CONTACT AND SHOP NOW-->
							<a href="{{ header.buttonLink }}" class="capitalize py-2 px-4  mb-0  text-base font-medium text-white  bg-primary rounded-sm border border-primary hover:bg-white hover:text-primary transition ease-in-out delay-100">{{ header.buttonTitle }}</a>
							<a href="{{path('contact')}}" class="py-2 px-4 text-base font-medium text-primary  bg-white rounded-sm border border-primary hover:bg-primary hover:text-white transition ease-in-out delay-100">Contact Us</a>
						</div>
					</div>

					{% if header.imageName %}
						<!--IMAGE-->
						<img src="{{ asset('upload/headers/' ~ header.imageName) }}" alt="{{ header.categoryProduct }}" class="hidden lg:block h-full object-cover ">
					{% endif %}
				</div>
			{% endfor %}
		</div>

		<!--BUTTONS-->
		{% if headers|length > 1 %}
			<button id="prevBtn" aria-label="preview slide" class="w-10 h-10 lg:w-16 lg:h-16 absolute left-4 lg:left-12 top-1/2 transform -translate-y-1/2 rounded-full flex items-center justify-center shadow-md hover:bg-gray-200 transition ">
				<img src="{{ asset('assets/images/arrow_left.png') }}" alt="arrow left carousel" class="w-full h-full">
			</button>
			<button id="nextBtn" aria-label="next slide" class="w-10 h-10 lg:w-16 lg:h-16 absolute right-4 lg:right-12 top-1/2 transform -translate-y-1/2 rounded-full flex items-center justify-center shadow-md hover:bg-gray-200 transition ">
				<img src="{{ asset('assets/images/arrow_right.png') }}" alt="arrow left carousel" class="w-full h-full">
			</button>
		{% endif %}
	</div>

	<script src="{{ asset('assets/js/admin/carousel.js') }}"></script>
{% endif %}
