<section class=" bg-white">

	<div class="garden_blog w-full pt-20 pb-10 ">
		<h2 class="text-[1.5rem] md:text-[2rem] text-center  text-black font-normal mb-4">Gallery</h2>
		<!--image-->
		<img src="{{asset('assets/images/decoration_text.png')}}" loading="lazy" alt="decoration title" class="mx-auto">

		<div
			class="md:container mx-auto px-6 lg:px-16">

			<!--CARDS-->
			<div
				class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8 mt-16">

				<!--CARD-->
				<div class="card border border-gray-200">
					<img src="{{asset('assets/upload/gallery1.jpg')}}" loading="lazy" class="w-full group-hover:opacity-75" alt="Louvre"/>
				</div>

				<!--CARD-->
				<div class="card border border-gray-200">
					<img src="{{asset('assets/upload/gallery2.jpg')}}" loading="lazy" class="w-full group-hover:opacity-75" alt="Louvre"/>
				</div>

				<!--CARD-->
				<div class="card border border-gray-200">
					<img src="{{asset('assets/upload/gallery3.jpg')}}" loading="lazy" class="w-full group-hover:opacity-75" alt="Louvre"/>
				</div>

				<!--CARD-->
				<div class="card border border-gray-200">
					<img src="{{asset('assets/upload/gallery4.jpg')}}" loading="lazy" class="w-full group-hover:opacity-75" alt="Louvre"/>
				</div>
				<!--CARD-->
				<div class="card border border-gray-200">
					<img src="{{asset('assets/upload/gallery5.jpg')}}" loading="lazy" class="w-full group-hover:opacity-75" alt="Louvre"/>
				</div>
				<!--CARD-->
				<div class="card border border-gray-200">
					<img src="{{asset('assets/upload/gallery6.jpg')}}" loading="lazy" class="w-full group-hover:opacity-75" alt="Louvre"/>
				</div>
				<!--CARD-->
				<div class="card border border-gray-200">
					<img src="{{asset('assets/upload/gallery7.jpg')}}" loading="lazy" class="w-full group-hover:opacity-75" alt="Louvre"/>
				</div>
				<!--CARD-->
				<div class="card border border-gray-200">
					<img src="{{asset('assets/upload/gallery8.jpg')}}" loading="lazy" class="w-full group-hover:opacity-75" alt="Louvre"/>
				</div>


			</div>
		</div>


	</div>
</section>
