<section class=" bg-bg2">

	<div class="garden_blog w-full pt-5 lg:pt-12 pb-10">
		<h2 class="text-[1.5rem] md:text-[2rem] text-center  text-black font-normal ">Garden Blog</h2>

		<!--image-->
		{% include "_partials/_decoration.html.twig" %}

		<div
			class="container-fluid md:container  px-4 mx-auto">

			<!--CARDS-->
			<div
				class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3  gap-8  mt-16">

				<!--CARD-->
				{% for article in articles %}
					<a
						href="{{path('blog_show', {slug: article.slug})}}" class="card relative  mb-12 border border-gray-200 hover:shadow-4 bg-white">
						<!--LABEL DATE-->
						<div class="absolute top-5 left-5 w-12 h-20 bg-white px-4 py-2 uppercase text-primary text-[12px] font-bold flex flex-col justify-between  items-center">
							<p class="text-xs">{{article.createdAt()|date('j')}}</p>
							<span class="w-3/4 border border-t bg-primary"></span>
							<p class="text-xs">{{article.createdAt()|date('M')}}</p>
						</div>

						<!--IMAGE OF ARTICLE-->
						<img
						class="w-full group-hover:opacity-75" src="{{ asset('upload/blog/articles/' ~ article.articleImageName) }}" alt="{{ article.title }}" loading="lazy">

						<!--BODY-->
						<div class="card-body flex flex-col items-center justify-center p-5">
							<h3 class="text-primary font-medium  text-[1rem] md:text-[1.2rem] text-center">{{article.title}}</h3>
							<p class="text-center mt-4">{{article.content|slice(0, 40) ~ '...'}}</p>
						</div>
					</a>
				{% endfor %}
			</div>
		</div>
	</div>
</section>
