<section class=" bg-white">

	<div class="opening w-full pt-5 lg:pt-12 pb-10 ">
		<h2 class="text-[1.5rem] md:text-[2rem] text-center  text-black font-normal ">Open hours</h2>
		<!--image-->
		<img
		src="{{asset('assets/images/decoration_text.png')}}" loading="lazy" alt="decoration title" class="mx-auto">

		<!--TABLE-->
		<div class="opening_block flex flex-wrap flex-col xl:flex-row px-8 lg:px-16 justify-center items-center gap-x-24 mt-12">
			<div class="opening_table">
				<table class="min-w-full text-center text-sm font-normal text-surface dark:text-white">
					<thead class="font-bold text-xl text-start">
						<th class="p-3">Day</th>
						<th colspan="3">Time</th>
					</thead>
					<tbody class="font-normal text-xl text-start">
						{% for schedule in shopSchedules %}
							<tr class="border-b border-neutral-200 text-xl text-start font-normal">
								<td class="whitespace-nowrap p-1 ">{{schedule.day}}</td>

								{%if schedule.openTime|date('G') == 0 %}
									<td class="whitespace-nowrap  ps-4 text-center" colspan="3">Closed</td>
									<td class="whitespace-nowrap  ps-4"></td>
								{% else %}
									<td class="whitespace-nowrap text-center ps-4">{{schedule.openTime|date('H:i') }}</td>
									<td class="whitespace-nowrap text-center">-</td>
									<td class="whitespace-nowrap text-center">{{schedule.closeTime|date('H:i') }}</td>
								{% endif %}
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>

			<!--IMAGE-->
			<div class="img_border_down full flex  justify-end p-4">
				<img src="{{asset('assets/images/home/my_garden_building.jpg')}}" loading="lazy" class="h-[380px] w-[380px]   mt-4 z-10" alt=""/>
			</div>
		</div>
	</div>
</section>
