{% extends 'base.html.twig' %}
{% block title %}My Garden - List header
{% endblock %}

{% block body %}

	<!-- MENU  -->
	{% include ('admin/components/titleDashboardAdminMarginBottom.html.twig') %}

	<div
		class="create_headers w-full flex px-8 lg:px-16 mb-10">

		<!-- MENU LEFT  -->
		<div class="menu_admin  flex flex-col w-1/4 md:w-1/6 p-2 lg:p-8 bg-gray-50">
			<div class="sticky top-0">
				{% include ('admin/_partials/menu_navigation.html.twig')%}
			</div>
		</div>
		<!-- RIGHT CREATE FORM -->
		<aside class="w-3/4 md:w-5/6 bg-white border border-gray p-4 lg:p-8 overflow-x-hidden h-fit">
			<div class="title_form flex flex-wrap justify-between">
				<h2 class=" text-black font-medium text-xl mb-3 mb:mb-0">List of headers</h2>
				<a href="{{path('create_header')}}" class="py-2 px-4 w-fit hover:bg-white hover:text-primary transition ease-in-out delay-100 capitalize border border-primary text-base font-medium text-white  bg-primary rounded-sm group-invalid:pointer-events-none group-invalid:opacity-60 group-invalid:disabled">
					Create header
				</a>
			</div>

			{% if headers|length >0 %}
				<!-- TABLE  -->
				<div class="flex flex-col">
					<div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
						<div class="inline-block min-w-full py-2 sm:px-6 lg:px-8">
							<div class="overflow-hidden">
								<table class="min-w-full text-sm font-normal text-surface dark:text-white mt-4">
									<thead class="border-b border-neutral-200 bg-white font-medium dark:border-white/10 dark:bg-body-dark">
										<tr>
											<th scope="col" class="p-2  text-start">Title</th>
											<th scope="col" class="p-2  text-start">Paragraph</th>
											<th scope="col" class="p-2  text-start">Category</th>
											<th scope="col" class="p-2 ">Button title</th>
											<th scope="col" class="p-2 ">Button link(URL)</th>
											<th scope="col" class="p-2 ">Button Order</th>
											<th scope="col" class="p-2 ">Image position</th>
											<th scope="col" class="p-2 ">Bg color</th>
											<th scope="col" class="p-2 ">Image</th>
											<th scope="col" class="p-2 w-[100px]">Actions</th>
										</tr>
									</thead>
									<tbody>
										{% for header in headers %}
											<tr class="border-b border-neutral-200 text-base text-center font-normal {{loop.index is odd ? 'bg-gray-50':'bg-white'}}">
												<td class="whitespace-nowrap px-2 py-3 text-start">{{header.content|slice(0, 30) ~ '...'}}</td>
												<td class="whitespace-nowrap px-2 py-3 text-start">{{header.paragraph|slice(0, 20) ~ '...'}}</td>
												<td class="whitespace-nowrap px-2 py-3 text-start">{{header.categoryProduct}}</td>
												<td class="whitespace-nowrap px-2 py-3">{{header.buttonTitle|slice(0, 10) ~ '...'}}</td>
												<td class="whitespace-nowrap px-2 py-3">{{header.buttonLink|slice(0, 10) ~ '...'}}</td>
												<td class="whitespace-nowrap px-2 py-3">{{header.orderAppear}}</td>
												<td class="whitespace-nowrap px-2 py-3">{{header.sideImage}}</td>
												<td class="whitespace-nowrap px-2 py-3 ">
													<div class="p-2 rounded-full h-10 w-10 border border-gray" style="background-color:{{header.backgroundColor}}; "></div>
												</td>
												<td class="whitespace-nowrap px-2 py-3"><img src="{{ asset('upload/headers/' ~ header.imageName) }}" alt="{{ header.categoryProduct }}" class="w-14 mx-auto"></td>

												<!--ACTION BUTTONS-->
												<td class="whitespace-nowrap p-2">
													<div class="h-full flex justify-between items-center gap-4">
														<a href="{{path('detail_header',{id:header.id})}}" class="flex flex-col items-center text-green-600 text-xs font-medium transition duration-200 hover:scale-125">
															<i class="fa-regular fa-eye"></i>
															View
														</a>
														<a href="{{path('edit_header',{id: header.id})}}" class="flex flex-col items-center text-black text-xs font-medium transition duration-200 hover:scale-125">
															<i class="fa-solid fa-pencil text-black"></i>
															Edit
														</a>

														<!-- Delete button triggers the modal, not a form submission -->
														<button type="button" class="flex flex-col items-center text-red text-xs font-medium transition duration-200 hover:scale-125" onclick="openDeleteModal({{ header.id }}, '{{ header.categoryProduct|replace({" \'":""})|raw }}' )">
															<i class="fa-regular fa-trash-can"></i>
															Delete
														</button>

														<!-- Hidden form for deletion -->
														<form id="delete-form-{{ header.id }}" action="{{path('delete_header',{id:header.id})}}" method="POST" class="hidden">
															<input type="hidden" name="_token" value="{{ csrf_token('deleteHeader' ~ header.id) }}">
														</form>
													</div>
												</td>
											</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			{% else %}
				<div class="flex justify-center flex-col items-center">
					<p class="text-2xl text-gray-600 font-normal my-3">No headers found.</p>
					<p>Create a header.</p>
				</div>
			{% endif %}
		</aside>
	</div>

	<!-- delete confirmation modal -->
	{% include 'admin/_partials/_delete_modal.html.twig' %}

	<!-- SCRIPT  -->
	<script src="{{ asset('assets/js/admin/modal_delete.js') }}"></script>
{% endblock %}
