{% extends 'base.html.twig' %}
{% block title %}My Garden -
	{{employee_detail.id}}
{% endblock %}

{% block body %}

	<!-- MENU  -->
	{% include ('admin/components/titleDashboardAdmin.html.twig') %}

	<div class="back_to text-end px-8 lg:px-16">
		<a href="{{path('show_employees')}}" class="text-gray underline text-base  ">Back to employees</a>
	</div>

	<div
		class="create_employees w-full flex px-4 md:px-8 lg:px-16 mb-10 relative overflow-hidden">

		<!-- MENU LEFT  -->
		{% include ('admin/_partials/menu_navigation.html.twig') %}

		<!-- RIGHT EMPLOYEE -->
		<div class="w-full  bg-white border border-gray p-4 lg:p-8 overflow-x-hidden h-fit">
			<div class="title_form flex  flex-wrap justify-between">
				<h2 class=" text-black font-medium text-xl mb-0 md:mb-4">Product details</h2>
			</div>

			<!-- EMPLOYEE  -->
			<div
				class="detail_product flex flex-col lg:flex-row mt-4 lg:mt-0">

				<!-- EMPLOYEE IMAGE  -->
				<div class="detail_product_img w-full lg:w-1/5 mb-4">
					<img src="{{ asset('upload/employees/' ~ employee_detail.imageName) }}" alt="{{ employee_detail.firstName }}" loading="lazy">
				</div>

				<!-- FIRST NAME AND LAST NAME  -->
				<div
					class="detail_product_description flex flex-col w-full lg:w-3/5 px-1 me-0 lg:px-8">

					<!-- FIRST NAME -->
					<div class="flex me-0 lg:me-6">
						<p class="font-semibold text-lg">First name:</p>
						<p class="font-normal text-lg mb-2 ms-1">{{ employee_detail.firstName }}</p>
					</div>
					<!-- LAST NAME -->
					<div class="flex me-0 lg:me-6">
						<p class="font-semibold text-lg">Last name:</p>
						<p class="font-normal text-lg mb-2 ms-1">{{ employee_detail.lastName }}</p>
					</div>

					<!-- JOIN DATE  -->
					<div class="flex me-0 lg:me-6">
						<p class="font-semibold text-lg">Join date:</p>
						<p class="font-normal text-lg mb-2 ms-1">{{employee_detail.joinDate|date("m/d/Y") }}</p>
					</div>
					<!-- POST -->
					<div class="flex me-0 lg:me-6">
						<p class="font-semibold text-lg">Post:</p>
						<p class="font-normal text-lg mb-2 ms-1">{{ employee_detail.employeePost }}</p>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
