{% extends 'base.html.twig' %}
{% block title %}My Garden -
	{{ form.vars.value.id ? 'Update Employee' : 'Create New Employee' }}
{% endblock %}

{% block body %}

	<!-- MENU  -->
	{% include ('admin/components/titleDashboardAdmin.html.twig') %}

	<div class="back_to text-end px-8 lg:px-16">
		<a href="{{path('show_employees')}}" class="text-gray underline text-base  ">Back to employees</a>
	</div>

	<div
		class="create_employees w-full flex px-4 md:px-8 lg:px-16 mb-10 relative overflow-hidden ">

		<!-- MENU LEFT  -->
		{% include ('admin/_partials/menu_navigation.html.twig') %}

		<!-- RIGHT CREATE FORM -->
		<div class="w-full  bg-white border border-gray p-4 lg:p-8 overflow-x-hidden h-fit">
			<div class="title_form flex flex-wrap justify-between">
				<h2 class=" text-black font-medium text-xl mb-4">
					{{ form.vars.value.id ? 'Update Employee' : 'Create Employee' }}
					<span class="sr-only">{{ form.vars.value.id ? 'Update Employee' : 'Create Employee' }}</h2>
				</div>

				<!--ERROR MESSAGE-->
				<div id="error_messages" class="hidden text-center p-4 mb-4 text-sm rounded-lg bg-red-100 text-red-700 relative" role="alert"></div>

				{{ form_start(form) }}

				<!-- FIRST NAME AND LAST NAME -->
				<div class="flex flex-col md:flex-row justify-between gap-1 md:gap-12 mb-4">
					<div class=" w-full  text-base">
						{{ form_label(form.firstName) }}
						{{ form_widget(form.firstName, {
        'attr': {
            'class': (attr.class|default('w-full rounded bg-white p-3 shadow shadow-gray-100 mt-2 appearance-none outline-none py-2 px-3 leading-4 text-black') ~ (form_errors(form.firstName) ? ' is-invalid' : ''))
        }
    }) }}
						<div class="form-error">
							{{ form_errors(form.firstName) }}
							<div id="employeeFirstName_error" hidden class="text-sm text-red"></div>
						</div>
					</div>
					<div class=" w-full  text-base">
						{{ form_label(form.lastName) }}
						{{ form_widget(form.lastName) }}
						<div class="form-error">
							{{ form_errors(form.lastName) }}
							<div id="employeeLastName_error" hidden class="text-sm text-red"></div>
						</div>
					</div>
				</div>

				<div
					class="flex flex-wrap justify-between gap-1  mb-4">

					<!-- IMAGE  -->
					<div class=" w-full  text-base">
						{{ form_label(form.imageFile) }}
						{{ form_widget(form.imageFile, {
        'attr': {
            'class': (attr.class|default('w-full rounded bg-white  appearance-none outline-none  leading-4 text-black py-2 mt-2') ~ (form_errors(form.imageFile) ? ' error-message' : ''))
        }
    }) }}
						<div class="form-error">
							{{ form_errors(form.imageFile) }}
							<div id="employeeImage_error" hidden class="text-sm text-red"></div>
						</div>
					</div>

				</div>

				<!-- ORDER APPEAR AND POST -->
				<div class="flex flex-col md:flex-row justify-between gap-1 md:gap-12 mb-4">
					<div class=" w-full  text-base">
						{{ form_label(form.orderAppear) }}
						{{ form_widget(form.orderAppear) }}
						<div class="form-error">
							{{ form_errors(form.orderAppear) }}
							<div id="employeeOrderAppear_error" hidden class="text-sm text-red"></div>
						</div>
					</div>
					<div class=" w-full  text-base ">
						{{ form_label(form.employeePost) }}
						{{ form_widget(form.employeePost) }}
						<div class="form-error">
							{{ form_errors(form.employeePost) }}
							<div id="employeePost_error" hidden class="text-sm text-red"></div>
						</div>
					</div>
				</div>

				<!-- SUBMIT BUTTON  -->
				<div class="text-center mt-4">
					<button type="submit" id="employee_submit" class=" p-2.5 text-sm font-medium text-white bg-primary  border border-primary focus:outline-none focus:ring-primary">
						{{ form.vars.value.id ? 'Update Employee' : 'Create Employee' }}
						<span class="sr-only">{{ form.vars.value.id ? 'Update Employee' : 'Create Employee' }}
							button</span>
					</button>
				</div>
				{{ form_end(form) }}
			</div>
		</div>

		<!-- VALIDATE CREATE employee WITH JS  -->
		<script src="{{ asset('assets/js/admin/createEmployee.js') }}"></script>
	{% endblock %}
