<div id="carouselHome" class="relative" data-twe-slide="false" data-twe-carousel-init data-twe-ride="false">

	<div
		class="relative w-full overflow-hidden after:clear-both after:block after:content-['']">

		<!--First item-->
		<div
			class="relative float-left -mr-[100%] hidden w-full transition-transform duration-[600ms] ease-in-out motion-reduce:transition-none" data-twe-carousel-active data-twe-carousel-item style=" backface-visibility: hidden">

			<!--image-->
			<img src="{{asset('upload/products/bouquet.jpg')}}" alt="" class="w-full">
		</div>

		<!--Second item-->
		<div
			class="relative  float-left -mr-[100%] hidden w-full transition-transform duration-[600ms] ease-in-out motion-reduce:transition-none" data-twe-carousel-item style="backface-visibility: hidden">

			<!--image-->
			<img src="{{asset('upload/products/bouquet.jpg')}}" alt="" class="w-full">
		</div>

		<!--Third item-->
		<div
			class="relative  float-left -mr-[100%] hidden w-full transition-transform duration-[600ms] ease-in-out motion-reduce:transition-none" data-twe-carousel-item style="backface-visibility: hidden">

			<!--image-->
			<img src="{{asset('upload/products/bouquet.jpg')}}" alt="" class="w-full">
		</div>
	</div>

	<!--Carousel controls - prev item-->
	<button class="absolute h-full bottom-0 left-0 top-0 z-[1] flex w-[15%] items-center justify-center border-0 bg-none p-0 text-center text-white  transition-opacity duration-150 ease-[cubic-bezier(0.25,0.1,0.25,1.0)] hover:text-white hover:no-underline hover:opacity-90 hover:outline-none focus:text-white focus:no-underline focus:opacity-90 focus:outline-none motion-reduce:transition-none" type="button" data-twe-target="#carouselHome" data-twe-slide="prev">

		<span class="inline-block h-10 w-10 ">
			<img src="{{asset('assets/images/arrow_left.png')}}" alt="arrow right carousel" loading="lazy">
		</span>

		<span class="!absolute !-m-px !h-px !w-px !overflow-hidden !whitespace-nowrap !border-0 !p-0 ![clip:rect(0,0,0,0)]">Previous</span>
	</button>

	<!--Carousel controls - next item-->
	<button class="absolute bottom-0 right-0 top-0 z-[1] flex w-[15%] items-center justify-center border-0 bg-none p-0 text-center text-white  transition-opacity duration-150 ease-[cubic-bezier(0.25,0.1,0.25,1.0)] hover:text-white hover:no-underline hover:opacity-90 hover:outline-none focus:text-white focus:no-underline focus:opacity-90 focus:outline-none motion-reduce:transition-none" type="button" data-twe-target="#carouselHome" data-twe-slide="next">

		<span class="inline-block h-10 w-10 ">
			<img src="{{asset('assets/images/arrow_right.png')}}" alt="arrow right carousel" loading="lazy">
		</span>

		<span class="!absolute !-m-px !h-px !w-px !overflow-hidden !whitespace-nowrap !border-0 !p-0 ![clip:rect(0,0,0,0)]">Next</span>
	</button>
</div>
