<section class="product w-full pt-5 lg:pt-12 pb-10">
	<div class="container mx-auto p-4 lg:p-0">
		<div
			class="our_products w-full">


			<!--PRODUCT-->
			<div
				class="product_block flex  flex-col lg:flex-row px-8 lg:px-16 items-start">

				<!--PRODUCT CAROUSEL-->
				<div
					class="product_carousel w-full lg:w-2/6 lg:mr-4">
					{#		{% include ('_partials/product/_carousel.html.twig') %}#}
					<img src="{{ asset('upload/products/' ~ product.imageName) }}" alt="{{ product.name }}" loading="lazy" class=" group-hover:opacity-75 w-full">
				</div>
				<!--PRODUCT DESCRIPTION-->
				<div
					class="product_description w-full lg:w-4/6 flex flex-col ps-0 lg:ps-4">

					{# ---------- breadcrump----------------------- #}
					<div class="breadcrump w-full flex flex-col-reverse lg:flex-row flex-wrap justify-between">
						<nav class=" text-sm font-medium">
							<ol class="breadcrump flex justify-start ">
								<li class="text-gray">
									<a href="{{path('home')}}" class="text-gray hover:underline focus:underline active:underline hover:text-primary focus:text-primary active:text-primary">Home</a>
								</li>
								<li class="text-gray">
									<span class="mx-1 text-gray">></span>
								</li>
								<li class="text-gray">
									<a href="{{path('shop')}}" class="text-gray hover:underline focus:underline active:underline hover:text-primary focus:text-primary active:text-primary">Shop</a>
								</li>
								<li class="text-gray">
									<span class="mx-1 text-gray">></span>
								</li>
								<li class="text-gray">
									<a href="{{path('shop_category', {slug:product.category.slug})}}" class="text-gray hover:underline focus:underline active:underline hover:text-primary focus:text-primary active:text-primary capitalize">{{product.category.name}}</a>
								</li>
								<li class="text-gray">
									<span class="mx-1 text-gray">></span>
								</li>
								<li class="text-gray">
									<span class="mx-1 text-gray capitalize">{{product.name}}</span>
								</li>
							</ol>
						</nav>
						<p class="text-gray text-sm text-end my-2 lg:my-0">This product doesn't have a review yet.</p>
					</div>

					<div
						class="reviews flex items-center justify-start mt-1">
						<!--PRODUCT STARS-->
						<div class="review_stars flex justify-start mb-6 text-gray">
							<i class="fa-solid fa-star fa-xs ms-1 text-secondary"></i>
							<i class="fa-solid fa-star fa-xs ms-1 text-secondary"></i>
							<i class="fa-solid fa-star fa-xs ms-1 text-secondary"></i>
							<i class="fa-solid fa-star fa-xs ms-1 text-secondary"></i>
							<i class="fa-regular fa-star fa-xs ms-1 text-secondary"></i>
						</div>
						<!--PRODUCT REVIEW CLIENTS QUANTITY-->
						<div class="review_clients_quantity flex justify-start text-gray mb-6 ms-3">
							<span class="text-gray text-sm">(23 Customer reviews)</span>
							<span class="text-gray text-sm ms-2">4.5/5</span>
						</div>
					</div>


					<!--PRODUCT TITLE-->
					<h2 class="text-3xl font-normal mt-2 mb-3 capitalize">
						{{product.name}}</h2>

					<!--PRODUCT PRICE-->
					<div
						class="product_price divisor">

						<!--IF PRODUCT PROMOTION-->
						{% if product.promotion != 0 %}
							<div class="product_promotion  flex justify-start items-start">
								<span class="font-bold text-gray text-xl line-through  mx-2">${{product.price}}</span>
								<span class="text-2xl font-bold text-primary mx-2">${{ ((product.price*(100-product.promotion))/100)|number_format(2) }}</span>
							</div>
						{% else %}
							<div class="product_promotion text-start">
								<span class="text-2xl font-bold text-primary">${{product.price}}</span>
							</div>
						{% endif %}
					</div>


					<div class="border w-3/4 block border-gray my-4"></div>

					<!--PRODUCT DESCRIPTION-->
					<p class="text-base">{{product.description|raw}}</p>


					<!--PRODUCT AVAILABLE-->
					<div class="product_available mt-4">
						<span class="text-sm">Availability</span>
						<span class="text-primary text-sm">10 in stock</span>
					</div>

					<!--PRODUCT ADD CART-->
					<div class="product_add_cart flex gap-4 mt-4">
						<div class="product_add_delete_buttons flex items-center justify-start gap-2">
							<a href="#" class="btn btn-light border border-primary p-2 text-sm rounded-full inline-flex justify-center items-center">
								<i class="fa-solid fa-minus"></i>
							</a>
							<span class="btn btn-light  font-bold text-black">2</span>
							<a href="#" class="btn btn-light border border-primary p-2 text-sm rounded-full flex justify-center items-center">
								<i class="fa-solid fa-plus"></i>
							</a>
						</div>
						<a href="" class="py-2 px-4  mb-0  text-sm font-medium text-white  bg-primary rounded-sm border border-primary hover:bg-white hover:text-primary transition ease-in-out delay-100 capitalize">Add to cart</a>
					</div>

					<!--PRODUCT ADD WISHLIST-->
					<a href="" class="mt-4 text-sm font-normal text-gray w-fit capitalize hover:underline">
						<i class="fa-regular fa-heart text-primary text-xl hover:"></i>
						<span class="text-base">Add to wishlist</span>
					</a>

					<!--PRODUCT TAGS-->
					<div class="tags flex justify-start items-center mt-4">
						<span class="py-1 px-2  text-xs font-medium text-gray me-4 bg-gray-50 rounded-lg">Decoration</span>
						<span class="py-1 px-2  text-xs font-medium text-gray me-4 bg-gray-50 rounded-lg">Garden</span>
					</div>

					<!--PRODUCT NETWORK-->
					<div class="flex mt-4 -ms-2 sm:justify-start">
						{% include ('components/network.html.twig')%}
					</div>
				</div>
			</div>
		</div>
		<!-- border -->
		<div class="border border-gray w-3/4 mx-auto my-4"></div>

		<!--DESCRIPTION/REVIEW-->
		<div
			class="product_description_review mt-4">
			<!--Tabs navigation-->
			<ul class="mb-5 flex list-none flex-row flex-wrap border-b-0 ps-0 w-1/2 mx-auto justify-center" role="tablist" data-twe-nav-ref>
				<li role="presentation" class="text-center">
					<a href="#tabs-home02" class="md:mx-4 px-4 py-3 my-2 block border-x-0 border-b-2 border-t-0 border-transparent text-xl font-normal capitalize leading-tight text-black hover:isolate hover:border-transparent hover:bg-neutral-100 focus:isolate focus:border-transparent data-[twe-nav-active]:border-primary data-[twe-nav-active]:text-primary" data-twe-toggle="pill" data-twe-target="#tabs-home02" data-twe-nav-active role="tab" aria-controls="tabs-home02" aria-selected="true">Description</a>
				</li>
				<li role="presentation" class="text-center">
					<a href="#tabs-profile02" class="md:mx-4 px-4 py-3 my-2 block border-x-0 border-b-2 border-t-0 border-transparent text-xl font-normal capitalize leading-tight text-black hover:isolate hover:border-transparent hover:bg-neutral-100 focus:isolate focus:border-transparent data-[twe-nav-active]:border-primary data-[twe-nav-active]:text-primary" data-twe-toggle="pill" data-twe-target="#tabs-profile02" role="tab" aria-controls="tabs-profile02" aria-selected="false">Review(23)</a>
				</li>
			</ul>

			<!--Tabs content-->
			<div
				class="w-full lg:w-3/4 mx-auto hidden opacity-100 transition-opacity duration-150 ease-linear data-[twe-tab-active]:block" id="tabs-home02" role="tabpanel" aria-labelledby="tabs-home-tab02" data-twe-tab-active>

				<!--TAB DESCRIPTION-->
				<p class="mb-2">{{product.description|nl2br}}</p>
			</div>

			<!--TAB REVIEW-->
			<div
				class="w-full lg:w-3/4 mx-auto hidden opacity-0 transition-opacity duration-150 ease-linear data-[twe-tab-active]:block" id="tabs-profile02" role="tabpanel" aria-labelledby="tabs-profile-tab02">

				<!--REVIEWS-->
				<div class="max-h-52 overflow-y-scroll   bg-white shadow-lg rounded-lg ">
					<div
						class="flex flex-col justify-between items-center mb-4 p-4">

						<!-- REVIEW -->
						<div
							class="w-full flex items-start flex-col justify-between">

							<!--PRODUCT STARS-->
							<div class="review_stars flex justify-start items-center my-3 ">
								<i class="fa-solid fa-star fa-xs text-secondary"></i>
								<i class="fa-solid fa-star fa-xs text-secondary"></i>
								<i class="fa-solid fa-star fa-xs text-secondary"></i>
								<i class="fa-solid fa-star fa-xs text-secondary"></i>
								<i class="fa-regular fa-star fa-xs text-secondary"></i>
								<span class="text-xs text-gray font-normal ms-2">September 17</span>
							</div>
							<!--PRODUCT REVIEW CLIENT -->
							<p class=" text-black text-base font-normal">Ad risus nunc cubilia turpis lacinia letius platea ornare amet hendrerit sem. Amet aptent penatibus tempus mus a cras pretium egestas faucibus. Vehicula fringilla aliquam letius dapibus lacus tellus nisl nibh ante commodo finibus. Lacus erat neque parturient aliquam quisque quam vel tempus. Turpis consequat inceptos est facilisis amet gravida.</p>
							<!--PRODUCT REVIEW NAME CLIENT -->
							<p class=" text-gray text-base font-normal">John Doe</p>
						</div>

						<!-- border -->
						<div class="border border-gray w-1/2 mx-auto my-2"></div>

						<!-- REVIEW -->
						<div
							class="w-full flex items-start flex-col justify-between">

							<!--PRODUCT STARS-->
							<div class="review_stars flex justify-start items-center my-3 ">
								<i class="fa-solid fa-star fa-xs text-secondary"></i>
								<i class="fa-solid fa-star fa-xs text-secondary"></i>
								<i class="fa-solid fa-star fa-xs text-secondary"></i>
								<i class="fa-solid fa-star fa-xs text-secondary"></i>
								<i class="fa-regular fa-star fa-xs text-secondary"></i>
								<span class="text-xs text-gray font-normal ms-2">September 17</span>
							</div>
							<!--PRODUCT REVIEW CLIENT -->
							<p class=" text-black text-base font-normal">Ad risus nunc cubilia turpis lacinia letius platea ornare amet hendrerit sem. Amet aptent penatibus tempus mus a cras pretium egestas faucibus. Vehicula fringilla aliquam letius dapibus lacus tellus nisl nibh ante commodo finibus. Lacus erat neque parturient aliquam quisque quam vel tempus. Turpis consequat inceptos est facilisis amet gravida.</p>
							<!--PRODUCT REVIEW NAME CLIENT -->
							<p class=" text-gray text-base font-normal">John Doe</p>
						</div>

						<!-- border -->
						<div class="border border-gray w-1/2 mx-auto my-2"></div>

						<!-- REVIEW -->
						<div
							class="w-full flex items-start flex-col justify-between">

							<!--PRODUCT STARS-->
							<div class="review_stars flex justify-start items-center my-3 ">
								<i class="fa-solid fa-star fa-xs text-secondary"></i>
								<i class="fa-solid fa-star fa-xs text-secondary"></i>
								<i class="fa-solid fa-star fa-xs text-secondary"></i>
								<i class="fa-solid fa-star fa-xs text-secondary"></i>
								<i class="fa-regular fa-star fa-xs text-secondary"></i>
								<span class="text-xs text-gray font-normal ms-2">September 17</span>
							</div>
							<!--PRODUCT REVIEW CLIENT -->
							<p class=" text-black text-base font-normal">Ad risus nunc cubilia turpis lacinia letius platea ornare amet hendrerit sem. Amet aptent penatibus tempus mus a cras pretium egestas faucibus. Vehicula fringilla aliquam letius dapibus lacus tellus nisl nibh ante commodo finibus. Lacus erat neque parturient aliquam quisque quam vel tempus. Turpis consequat inceptos est facilisis amet gravida.</p>
							<!--PRODUCT REVIEW NAME CLIENT -->
							<p class=" text-gray text-base font-normal">John Doe</p>
						</div>

						<!-- border -->
						<div class="border border-gray w-1/2 mx-auto my-2"></div>

						<!-- REVIEW -->
						<div
							class="w-full flex items-start flex-col justify-between">

							<!--PRODUCT STARS-->
							<div class="review_stars flex justify-start items-center my-3 ">
								<i class="fa-solid fa-star fa-xs text-secondary"></i>
								<i class="fa-solid fa-star fa-xs text-secondary"></i>
								<i class="fa-solid fa-star fa-xs text-secondary"></i>
								<i class="fa-solid fa-star fa-xs text-secondary"></i>
								<i class="fa-regular fa-star fa-xs text-secondary"></i>
								<span class="text-xs text-gray font-normal ms-2">September 17</span>
							</div>
							<!--PRODUCT REVIEW CLIENT -->
							<p class=" text-black text-base font-normal">Ad risus nunc cubilia turpis lacinia letius platea ornare amet hendrerit sem. Amet aptent penatibus tempus mus a cras pretium egestas faucibus. Vehicula fringilla aliquam letius dapibus lacus tellus nisl nibh ante commodo finibus. Lacus erat neque parturient aliquam quisque quam vel tempus. Turpis consequat inceptos est facilisis amet gravida.</p>
							<!--PRODUCT REVIEW NAME CLIENT -->
							<p class=" text-gray text-base font-normal">John Doe</p>
						</div>
					</div>
				</div>


				<!--FORM ADD REVIEW-->
				<div class="product_add_review mt-8 p-4 bg-gray-50 border border-gray-300 rounded">
					<h2 class="text-2xl font-medium">Add a review</h2>
					<p>Your email addres will not be published. Required fields are marked*</p>

					<!--FORM-->
					<form>
						<!--YOUR NOTE-->
						<label for="rating" class="block mt-4 mb-2 text-sm font-medium text-black">Your note*</label>
						<select id="rating" class="bg-white border border-gray-300 text-gray text-sm rounded-lg focus:primary focus:primary block w-fit p-2.5">
							<option selected class="text-gray">Choose one</option>
							<option value="1" class="text-black">1</option>
							<option value="2" class="text-black">2</option>
							<option value="3" class="text-black">3</option>
							<option value="4" class="text-black">4</option>
							<option value="5" class="text-black">5</option>
						</select>

						<!--YOUR REVIEW-->
						<label for="message" class="block mb-2 text-sm font-medium text-black mt-4">Your review*</label>
						<textarea id="message" rows="4" class="block p-2.5 w-full text-sm text-black bg-white rounded-lg border border-gray-300" placeholder="Write your thoughts here..."></textarea>

						<!--YOUR NAME AND EMAIL-->

						<div class="name">
							<label class="block mb-2 text-sm font-medium text-black mt-4" for="name">
								Your name*
							</label>
							<input class="appearance-none w-full py-2 px-3 text-sm text-black bg-white rounded-lg border border-gray-300" id="name" type="text" placeholder="Write your name">
						</div>
						<div class="email">
							<label class="block mb-2 text-sm font-medium text-black mt-4" for="email">
								Your email*
							</label>
							<input class="appearance-none w-full py-2 px-3 text-sm text-black bg-white rounded-lg border border-gray-300" id="email" type="text" placeholder="Write your email">
						</div>

						<div class="text-center mt-10">
							<button type="submit" class="py-2 px-4  mb-0  text-sm font-medium text-white  bg-primary rounded-sm border border-primary hover:bg-white hover:text-primary transition ease-in-out delay-100 capitalize w-1/2 ">
								Submit
								<span class="sr-only">Submit button</span>
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
