<section class="product w-full pt-5 lg:pt-12 pb-10 ">

	<div class="team w-full md:px-16 mx-auto">
		<div
			class="product   mx-auto px-8 lg:px-16 mt-6">

			<!--PRODUCT-->
			<div
				class="product_block flex  flex-col md:flex-row  items-start">

				<!--PRODUCT IMAGE-->
				<div class="product_image w-full md:w-2/6 md:mr-4 max-w-[400px]">
					<img src="{{ asset('upload/products/' ~ product.imageName) }}" alt="{{ product.name }}" loading="lazy" class=" group-hover:opacity-75 w-full">
				</div>
				<!--PRODUCT DESCRIPTION-->
				<div
					class="product_description w-full md:w-4/6 flex flex-col ps-0 md:ps-4">

					{# ---------- breadcrump----------------------- #}
					<div class="breadcrump w-full flex flex-col-reverse lg:flex-row flex-wrap justify-between">
						<nav class=" text-sm font-medium">
							<ol class="breadcrump flex justify-start ">
								<li class="text-gray">
									<a href="{{path('home')}}" class="text-gray hover:underline focus:underline active:underline hover:text-primary focus:text-primary active:text-primary">Home</a>
								</li>
								<li class="text-gray">
									<span class="mx-1 text-gray">></span>
								</li>
								<li class="text-gray">
									<a href="{{path('shop')}}" class="text-gray hover:underline focus:underline active:underline hover:text-primary focus:text-primary active:text-primary">Shop</a>
								</li>
								<li class="text-gray">
									<span class="mx-1 text-gray">></span>
								</li>
								<li class="text-gray">
									<a href="{{path('shop_category', {slug:product.category.slug})}}" class="text-gray hover:underline focus:underline active:underline hover:text-primary focus:text-primary active:text-primary capitalize">{{product.category.name}}</a>
								</li>
								<li class="text-gray">
									<span class="mx-1 text-gray">></span>
								</li>
								<li class="text-gray">
									<span class="mx-1 text-gray capitalize">{{product.name}}</span>
								</li>
							</ol>
						</nav>
						{% if reviews|length == 0 %}
							<p class="text-gray text-sm text-start md:text-end my-2 lg:my-0">This product doesn't have a review yet.</p>
						{% endif %}
					</div>

					<div
						class="reviews flex items-center justify-start mt-1">

						<!--PRODUCT STARS-->
						<div
							class="review_stars flex justify-start  text-gray">

							<!--STARS-->
							{% if reviews|length > 0 %}
								{% include 'components/review_stars_average.html.twig'%}
							{% endif %}
						</div>

						<!--PRODUCT REVIEW CLIENTS QUANTITY-->
						<div class="review_clients_quantity flex justify-start text-gray  ms-3">
							{% if reviews|length > 0 %}
								<span class="text-gray text-sm">({{reviews|length}}
									Customer review(s))</span>
								<span class="text-gray text-sm ms-2">{{ (product.getAverageRating())|number_format(1) }}/5</span>
							</div>
						{% endif %}
					</div>

					<div
						class="flex flex-col">

						<!--PRODUCT TITLE-->
						<h2 class="text-3xl font-normal mt-2 mb-3 capitalize">
							{{product.name}}</h2>

						<!--PRODUCT PRICE-->
						<div
							class="product_price divisor">

							<!--IF PRODUCT PROMOTION-->
							{% if product.promotion != 0 %}
								<div class="product_promotion  flex justify-start items-start">
									<span class="font-bold text-gray text-xl line-through  mx-2">${{product.price}}</span>
									<span class="text-2xl font-bold text-primary mx-2">{{ ((product.price*(100-product.promotion))/100)|price }}</span>
								</div>
							{% else %}
								<div class="product_promotion text-start">
									<span class="text-2xl font-bold text-primary">{{product.price|price}}</span>
								</div>
							{% endif %}
						</div>

						<div class="border w-3/4 block border-gray my-4"></div>

						<!--PRODUCT DESCRIPTION-->
						{# <p class="text-base">{{product.description|raw}}</p> #}
						<p class="text-base">More information about this product on description menu tab below</p>

						<!--PRODUCT AVAILABLE-->
						<div class="product_available mt-4">
							<span class="text-sm">Availability</span>
							<span class="text-primary text-sm">10 stock</span>
						</div>

						<!--PRODUCT ADD CART-->
						<div class="product_add_cart flex gap-4 mt-4">

							<a href="{{path('add_to_cart',{id:product.id})}}" class="py-2 px-4  mb-0  text-sm font-medium text-white  bg-primary rounded-sm border border-primary hover:bg-white hover:text-primary transition ease-in-out delay-100 capitalize">Add to cart</a>
						</div>


						<!--PRODUCT ADD WISHLIST-->
						{% if app.user %}
							{% if product in app.user.wishlists %}

								<!-- Delete button triggers the modal, not a form submission -->
								<button type="button" class="mt-4 text-sm font-normal text-gray w-fit hover:underline hover:text-primary" onclick="openDeleteModal({{ product.id }}, '{{ product.name }} from the wishlist')">
									<i class="fa-solid fa-heart text-primary text-xl hover:"></i>
									<span class="text-base">Remove from wishlist</span>
								</button>

								<!-- Hidden form for deletion -->
								<form id="delete-form-{{ product.id }}" action="{{ path('account_wishlist_delete', {id: product.id}) }}" method="POST" class="hidden">
									<input type="hidden" name="_token" value="{{ csrf_token('deleteWishlist' ~ product.id) }}">
								</form>
							{% else %}
								<a class="mt-4 text-sm font-normal text-gray w-fit capitalize hover:underline hover:text-primary" href="{{path('account_wishlist_add', {id:product.id})}}">
									<i class="fa-regular fa-heart text-primary text-xl "></i>
									<span class="text-base">Add to wishlist</span>
								</a>
							{% endif %}
						{% else %}
							<a class="mt-4 text-sm font-normal text-gray w-fit capitalize hover:underline hover:text-primary" data-twe-collapse-init data-twe-ripple-init data-twe-ripple-color="light" href="#collapseMessageLogin" role="button" aria-expanded="false" aria-controls="collapseMessageLogin">
								<i class="fa-regular fa-heart text-primary text-xl hover:"></i>
								<span class="text-base">Add to wishlist</span>
							</a>

						{% endif %}

						<!--MESSAGE TO CONNECT BEFORE TO PUT ON WISHLIST-->
						<div class="!visible hidden text-center border border-gray-300" id="collapseMessageLogin" data-twe-collapse-item>
							<div class="text-black fs-4 my-2 p-2 rounded text-center">
								To take advantage of the whislist,
								<a class="text-dark underline" href="{{ path('app_login') }}">
									<strong>log in</strong>
								</a>
								or
								<a class="text-dark underline" href="{{ path('app_signup') }}">
									<strong>create an account</strong>
								</a>
								at My Garden - Flower Shop.
							</div>
						</div>

						<!--PRODUCT TAGS-->
						<div class="tags flex justify-start items-center mt-4">
							<span class="py-1 px-2  text-xs font-medium text-gray me-4 bg-gray-50 rounded-lg">Decoration</span>
							<span class="py-1 px-2  text-xs font-medium text-gray me-4 bg-gray-50 rounded-lg">Garden</span>
						</div>

						<!--PRODUCT NETWORK-->
						<div class="flex mt-4 me-2 sm:justify-start">
							{% include ('components/network.html.twig')%}
						</div>

						<!--PRODUCT ALREADY REVIEWED-->
						{% if app.user and reviews %}
							<div class="product_already_reviewed mt-4 text-red">You have already review this product.</div>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
		<!-- border -->
		<div class="border border-gray w-3/4 mx-auto my-4"></div>

		<!--DESCRIPTION/REVIEW-->
		<div
			class="product_description_review mt-4">

			<!--Tabs navigation-->
			<ul class="mb-5 flex list-none flex-row flex-wrap border-b-0 ps-0 w-1/2 mx-auto justify-center" role="tablist" data-twe-nav-ref>
				<li role="presentation" class="text-center">
					<a href="#tabs-home02" class="md:mx-4 px-4 py-3 my-2 block border-x-0 border-b-2 border-t-0 border-transparent text-xl font-normal capitalize leading-tight text-black hover:isolate hover:border-transparent hover:bg-neutral-100 focus:isolate focus:border-transparent data-[twe-nav-active]:border-primary data-[twe-nav-active]:text-primary" data-twe-toggle="pill" data-twe-target="#tabs-home02" data-twe-nav-active role="tab" aria-controls="tabs-home02" aria-selected="true">Description</a>
				</li>
				<li role="presentation" class="text-center">
					<a href="#tabs-profile02" class="md:mx-4 px-4 py-3 my-2 block border-x-0 border-b-2 border-t-0 border-transparent text-xl font-normal capitalize leading-tight text-black hover:isolate hover:border-transparent hover:bg-neutral-100 focus:isolate focus:border-transparent data-[twe-nav-active]:border-primary data-[twe-nav-active]:text-primary" data-twe-toggle="pill" data-twe-target="#tabs-profile02" role="tab" aria-controls="tabs-profile02" aria-selected="false">Review({{reviews|length}})</a>
				</li>
			</ul>

			<!--TAB CONTENTS-->
			<div
				class="w-full lg:w-3/4 mx-auto hidden opacity-100 transition-opacity duration-150 ease-linear data-[twe-tab-active]:block" id="tabs-home02" role="tabpanel" aria-labelledby="tabs-home-tab02" data-twe-tab-active>

				<!--TAB DESCRIPTION-->
				<p class="mb-2">{{product.description|nl2br}}</p>
			</div>

			<!--TAB REVIEW-->
			<div
				class="w-full lg:w-3/4 mx-auto hidden opacity-0 transition-opacity duration-150 ease-linear data-[twe-tab-active]:block" id="tabs-profile02" role="tabpanel" aria-labelledby="tabs-profile-tab02">
				<!--REVIEWS-->

				{% if reviews|length > 0 %}

					<div class="max-h-52 overflow-y-scroll   bg-white shadow-lg rounded-lg ">
						<div class="flex flex-col justify-between items-center mb-4 p-4">

							{% for review in reviews %}

								<!-- REVIEW  USERS-->
								<div
									class="w-full flex items-start flex-col justify-between">

									<!--PRODUCT STARS-->
									<div class="review_stars flex justify-start items-center my-3 ">
										{% if product.reviews|length > 0 %}

											<!--STARS-->
											{% include 'components/review_stars_user.html.twig'%}

										{% endif %}
										<span class="text-xs text-gray font-normal ms-2">{{review.createdAt|date("F j, Y")}}</span>
									</div>
									<!--PRODUCT REVIEW CLIENT -->
									<p class=" text-black text-base font-normal">{{review.review}}</p>

									<!--PRODUCT REVIEW NAME CLIENT -->
									{% if app.user %}
										{% if app.user.id == review.user.id %}
											<p class=" text-gray text-base font-normal capitalize">You</p>
										{% endif %}
									{% else %}

										<!--NAME OF USER THAT GAVE A REVIEW WITH FIRST LETTER LASTNAME UPPERCASE.-->
										<p class=" text-gray text-base font-normal capitalize">{{review.user.firstName}}
											{{review.user.lastName|first|upper}}.</p>
									{% endif %}
								</div>

								<!-- border -->
								<div class="border border-gray w-1/2 mx-auto my-2"></div>
							{% endfor %}
						</div>
					</div>
				{% else %}
					{% if app.user and reviewUser %}

						<p class=" text-base font-normal text-center text-red">Your review will be available soon.</p>
					{% else %}
						<p class=" text-base font-normal text-center">No reviews yet</p>
					{% endif %}
				{% endif %}

				<!--BUTTON ADD REVIEW IF USER NOT GIVE YEAT A REVIEW-->
				{% if app.user and not user_reviewed %}
					<div class="text-center pt-6">

						<button id="toggleButton" class="py-2 px-4  ml-2  text-base font-medium text-primary  bg-white rounded-sm border border-primary hover:bg-primary hover:text-white transition ease-in-out delay-100" type="button" type="button" aria-expanded="false" aria-controls="collapseForm" onclick="toggleCollapse()">
							Give your opinion for this product
						</button>
					</div>

				{% elseif not app.user and not user_reviewed %}
					<div class="text-center pt-6">

						<button id="toggleButton" class="py-2 px-4  ml-2  text-base font-medium text-primary  bg-white rounded-sm border border-primary hover:bg-primary hover:text-white transition ease-in-out delay-100" type="button" type="button" aria-expanded="false" aria-controls="collapseForm" onclick="toggleCollapse()">
							Give your opinion for this product
						</button>
					</div>
				{% endif %}

				<div
					id="collapseForm" class="max-h-0 overflow-hidden opacity-0 transition-all duration-2000 ease-in-out ">
					<!--FORM ADD REVIEW-->
					<div class=" product_add_review mt-8 p-4 bg-gray-50 border border-gray-300 rounded">
						{% if app.user and not user_reviewed %}
							<h2 class="text-2xl font-medium text-center">Add a review</h2>

							<!--ERROR MESSAGE-->
							<div id="error_messages" class="hidden text-center p-4 my-4 text-sm rounded-lg bg-red-100 text-red-700 relative" role="alert"></div>

							<!--FORM-->
							{{form_start(formReview)}}

							<!--  RATE -->
							<div class=" w-full  text-base">
								{{ form_label(formReview.rate) }}
								{{ form_widget(formReview.rate) }}
								<div class="form-error">
									{{ form_errors(formReview.rate) }}
									<div id="rateProduct_error" hidden class="text-sm text-red"></div>
								</div>
							</div>

							<!--  REVIEW  -->
							<div class="mt-4">
								{{ form_label(formReview.review) }}
								{{ form_widget(formReview.review) }}
								<div class="form-error">
									{{ form_errors(formReview.review) }}
									<div id="reviewProduct_error" hidden class="text-sm text-red"></div>
								</div>
							</div>

							<!-- SUBMIT BUTTON  -->
							<div class="text-center mt-4">
								<button type="submit" id="review_submit" class="w-1/5 mx-auto p-2.5 text-sm font-medium text-white bg-primary  border border-primary focus:outline-none focus:ring-primary">
									Submit
									<span class="sr-only">
										submit button</span>
								</button>
							</div>

							{{form_end(formReview)}}

						{% else %}
							<!--MESSAGE TO LOGIN FIRST BEFORE ADD REVIEW-->

							<div class="bg-bg1  mx-auto  border border-red shadow-lg p-4 text-center">
								<h2>You need to be connected to add a review.</h2>
								<p class="mt-3">
									<a href="{{path('app_login')}}" class="text-dark text-decoration-underline">Click here to
										<span class="underline">login</span>
									</a>
									<br/>
									or
									<br/>
									<a href="{{path('app_signup')}}" class="text-dark text-decoration-underline">Create your account
										<span class="underline">here.</span>
									</a>
								</p>
							</div>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- VALIDATE ADD PRODUCT REVIEW USER JS  -->
	<script src="{{ asset('assets/js/admin/createReviewProductUser.js') }}" defer></script>
	<script>
		function toggleCollapse() {
const collapseElement = document.getElementById("collapseForm");

// Toggle visibility with height and opacity changes
if (collapseElement.classList.contains("max-h-0")) {
collapseElement.classList.remove("max-h-0", "opacity-0");
collapseElement.classList.add("max-h-screen", "opacity-100");
} else {
collapseElement.classList.add("max-h-0", "opacity-0");
collapseElement.classList.remove("max-h-screen", "opacity-100");
}

// Update aria-expanded for accessibility
const button = document.getElementById("toggleButton");
const isExpanded = button.getAttribute("aria-expanded") === "true";
button.setAttribute("aria-expanded", ! isExpanded);
}
	</script>
