<!-- TABLE  -->
<div class="flex flex-col ">
	<div class="overflow-x-auto me-0 lg:me-8">
		<div class="inline-block min-w-full py-2 ">
			<div class="overflow-hidden">
				<table class="min-w-full text-sm font-normal text-surface dark:text-white mt-4">
					<thead class="border-b border-neutral-200 bg-white font-medium dark:border-white/10 dark:bg-body-dark">
						<tr>
							<th scope="col" class="w-[300px]">Image</th>
							<th scope="col" class="w-[300px]">Product</th>
							<th scope="col" class="w-[400px]">price</th>
							<th scope="col" class="w-[200px]">Quantity</th>
							<th scope="col" class="w-[500px]">NT</th>
							<th scope="col" class="w-[500px]">WT</th>
						</tr>
					</thead>
					<tbody>

						{% for product in myCart %}

							<tr class="border-b border-neutral-200 text-base text-center font-normal {{loop.index is odd ? 'bg-gray-50':'bg-white'}}">
								<td class="whitespace-nowrap text-left"><img src="{{ asset('upload/products/' ~ product.object.imageName) }}" alt="{{ product.object.name }}" loading="lazy" class="w-[400px]"></td>
								<td class="whitespace-nowrap  p-2">{{product.object.name}}</td>
								<td class="whitespace-nowrap  p-2">{{(product.object.price*((100-product.object.promotion)/100))|price }}</td>

								<!--QUANTITY-->
								<td class="whitespace-nowrap  p-2">
									{{product.quantity}}
								</td>
								<td class="whitespace-nowrap p-2">{{(product.object.price*product.quantity*((100-product.object.promotion)/100))|price }}</td>
								<td class="whitespace-nowrap p-2">{{(product.object.pricewt*product.quantity*((100-product.object.promotion)/100))|price }}</td>
							</tr>

						{% endfor %}
					</tbody>
				</table>
				<!--TOTAL ORDER-->
				<div
					class="total flex flex-col md:flex-row justify-between items-start md:items-center mt-8 md:mt-4">

					<!--PAY BUTTON-->
					<div class="mx-0  md:mx-auto mb-4">
						<a href="{{path('payment', {id_order:order.id})}}" class="py-2 px-4  mb-0  text-base font-medium text-white  bg-primary rounded-sm border border-primary hover:bg-white hover:text-primary transition ease-in-out delay-100">Pay
							{{ (totalWt + choices.carriers.price)|price }}</a>
					</div>

					<!--TOTAL-->
					<div
						class="flex flex-col items-end mb-4">
						<!-- TOTAL PRODUCTS -->
						<div class="text-lg ">
							<span class="font-semibold">Total products:</span>
							<span class="text-black">{{fullCartQuantity}}</span>
						</div>
						<!-- TOTAL CARRIER -->
						<div class="text-lg ">
							<span class="font-semibold">Total carrier:</span>
							<span>{{choices.carriers.price|price}}</span>
						</div>

						<!--DIVISOR-->
						<div class="flex w-full items-end my-2">
							<div class="border w-full border-gray  opacity-50"></div>
						</div>

						<!-- TOTAL PRODUCTS NO TAX-->
						<div class="text-lg ">
							<span class="font-semibold">Total NT:</span>
							<span class="text-black">{{ (totalCartNt + choices.carriers.price)|number_format(2) }}</span>
						</div>

						<!-- TOTAL PRODUCTS WITH TAX-->
						<div class="text-lg">
							<span class="font-semibold">total WT:</span>
							<span class="text-black">{{ (totalWt + choices.carriers.price)|number_format(2) }}</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
