{% extends 'base.html.twig' %}
{% block title %}My Garden -
	{{ form.vars.value.id ? 'Update Tag' : 'Create New Tag' }}
{% endblock %}

{% block body %}

	<!-- MENU  -->
	{% include ('admin/components/titleDashboardAdmin.html.twig') %}

	<div class="back_to text-end px-4 md:px-8 lg:px-16">
		<a href="{{path('show_blogTags')}}" class="text-gray underline text-base  ">Back to tags</a>
	</div>

	<div
		class="create_tags w-full flex px-4 md:px-8 lg:px-16 mb-10 relative overflow-hidden">

		<!-- MENU LEFT  -->
		{% include ('admin/_partials/menu_navigation.html.twig') %}

		<!-- RIGHT CREATE FORM -->
		<div class="w-full  bg-white border border-gray p-4 lg:p-8 overflow-x-hidden h-fit">
			<div class="title_form flex flex-wrap justify-between">
				<h2 class=" text-black font-medium text-xl mb-4">
					{{ form.vars.value.id ? 'Update Tag' : 'Create Tag' }}
				</h2>
			</div>

			<!--ERROR MESSAGE-->
			<div id="error_messages" class="hidden text-center p-4 mb-4 text-sm rounded-lg bg-red-100 text-red-700 relative" role="alert"></div>

			{{ form_start(form,{'attr': {'id': 'tagForm'}}) }}

			<!-- TAG -->
			<div class="flex flex-col md:flex-row justify-between mb-2">
				<div class=" w-full  text-base">
					{{ form_label(form.name) }}
					{{ form_widget(form.name, {
        'attr': {
            'class': (attr.class|default('w-full rounded bg-white p-3 shadow shadow-gray-100 mt-2 appearance-none outline-none py-2 px-3 leading-4 text-black') ~ (form_errors(form.name) ? ' is-invalid' : ''))
        }
    }) }}
					<div class="form-error">
						{{ form_errors(form.name) }}
						<div id="blogTag_error" hidden class="text-sm text-red"></div>
					</div>
				</div>
			</div>

			<!-- SUBMIT BUTTON  -->
			<div class="text-center mt-4">
				<button type="submit" id="tag_submit" class=" p-2.5 text-sm font-medium text-white bg-primary  border border-primary focus:outline-none focus:ring-primary">
					{{ form.vars.value.id ? 'Update Tag' : 'Create Tag' }}
					<span class="sr-only">{{ form.vars.value.id ? 'Update Tag' : 'Create Tag' }}
						button</span>
				</button>
			</div>
			{{ form_end(form) }}
		</div>
	</div>

	<!-- VALIDATE CREATE TAG WITH JS  -->
	<script src="{{ asset('assets/js/admin/createBlogTag.js') }}"></script>
{% endblock %}
