	{# MENU ADMIN PRODUCTS #}
	<div class="menu_admin_items mb-6">
		<div class="menu_admin_title">
			<p class="text-base font-semibold text-gray">Products</p>
		</div>
		<hr class="my-2">
		<ul class="menu_admin_links">
			<li class="menu_admin_links_item mb-2">
				<a href="{{path('show_products')}}" class="text-base">Products</a>
			</li>
			<li class="menu_admin_links_item mb-2">
				<a href="{{path('show_categories')}}" class="text-base">Categories</a>
			</li>
			<li class="menu_admin_links_item mb-2">
				<a href="{{path('show_colors')}}" class="text-base">Colors</a>
			</li>
		</ul>
	</div>

{# MENU ADMIN GALLERY #}
	<div class="menu_admin_items mb-6">
		<div class="menu_admin_title">
			<p class="text-base font-semibold text-gray">Gallery (Homepage)</p>
		</div>
		<hr class="my-2">
		<ul class="menu_admin_links">
			<li class="menu_admin_links_item mb-2">
				<a href="{{path('show_galleries')}}" class="text-base">Gallery</a>
			</li>
		</ul>
	</div>

	{# MENU CARRIERS #}
	<div class="menu_admin_items mb-6">
		<div class="menu_admin_title">
			<p class="text-base font-semibold text-gray">Carriers</p>
		</div>
		<hr class="my-2">
		<ul class="menu_admin_links">
			<li class="menu_admin_links_item mb-2">
				<a href="{{path('show_carriers')}}" class="text-base">Carriers</a>
			</li>
		</ul>
	</div>
	
	{# MENU ORDERS #}
	<div class="menu_admin_items mb-6">
		<div class="menu_admin_title">
			<p class="text-base font-semibold text-gray">Orders</p>
		</div>
		<hr class="my-2">
		<ul class="menu_admin_links">
			<li class="menu_admin_links_item mb-2">
				<a href="{{path('show_order_client')}}" class="text-base">Orders</a>
			</li>
		</ul>
	</div>

	{# MENU ADMIN HEADER #}
	<div class="menu_admin_items mb-6">
		<div class="menu_admin_title">
			<p class="text-base font-semibold text-gray">Header</p>
		</div>
		<hr class="my-2">
		<ul class="menu_admin_links">
			<li class="menu_admin_links_item mb-2">
				<a href="{{path('show_headers')}}" class="text-base">Header</a>
			</li>
		</ul>
	</div>

	{# MENU ADMIN EMPLOYEE #}
	<div class="menu_admin_items mb-6">
		<div class="menu_admin_title">
			<p class="text-base font-semibold text-gray">Employee</p>
		</div>
		<hr class="my-2">
		<ul class="menu_admin_links">
			<li class="menu_admin_links_item mb-2">
				<a href="{{path('show_employees')}}" class="text-base">Employees</a>
			</li>
			<li class="menu_admin_links_item mb-2">
				<a href="{{path('show_posts')}}" class="text-base">Posts</a>
			</li>
		</ul>
	</div>

	{# MENU ADMIN OPEN/CLOSE SHOP #}
	<div class="menu_admin_items mb-6">
		<div class="menu_admin_title">
			<p class="text-base font-semibold text-gray">Open hours</p>
		</div>
		<hr class="my-2">
		<ul class="menu_admin_links">
			<li class="menu_admin_links_item mb-2">
				<a href="{{path('show_schedules')}}" class="text-base">Open/Close</a>
			</li>
		</ul>
	</div>

	{# MENU ADMIN REVIEWS #}
	<div class="menu_admin_items mb-6">
		<div class="menu_admin_title">
			<p class="text-base font-semibold text-gray">Reviews</p>
		</div>
		<hr class="my-2">
		<ul class="menu_admin_links">
			<li class="menu_admin_links_item mb-2">
				<a href="{{path('show_review_products')}}" class="text-base">Product</a>
			</li>
			<li class="menu_admin_links_item mb-2">
				<a href="{{path('show_store_admin')}}" class="text-base">Store</a>
			</li>
		</ul>
	</div>

	{# MENU ADMIN BLOG #}
	<div class="menu_admin_items mb-6">
		<div class="menu_admin_title">
			<p class="text-base font-semibold text-gray">Blog</p>
		</div>
		<hr class="my-2">
		<ul class="menu_admin_links">
			<li class="menu_admin_links_item mb-2">
				<a href="" class="text-base">Blog</a>
			</li>
		</ul>
	</div>
