{# <div
	class="menu_admin w-1/3 md:w-1/6 p-2 lg:p-8 bg-gray-50"> #}

	{# MENU ADMIN ITEMS PRODUCTS #}
	<div class="menu_admin_items mb-6">
		<div class="menu_admin_title">
			<p class="text-base font-semibold text-gray">Products</p>
		</div>
		<hr class="my-2">
		<ul class="menu_admin_links">
			<li class="menu_admin_links_item mb-2">
				<a href="{{path('show_products')}}" class="text-base">Products</a>
			</li>
			<li class="menu_admin_links_item mb-2">
				<a href="{{path('show_categories')}}" class="text-base">Categories</a>
			</li>
			<li class="menu_admin_links_item mb-2">
				<a href="{{path('show_colors')}}" class="text-base">Colors</a>
			</li>
		</ul>
	</div>
	{# MENU CARRIERS #}
	<div class="menu_admin_items mb-6">
		<div class="menu_admin_title">
			<p class="text-base font-semibold text-gray">Carriers</p>
		</div>
		<hr class="my-2">
		<ul class="menu_admin_links">
			<li class="menu_admin_links_item mb-2">
				<a href="" class="text-base">Carriers</a>
			</li>
		</ul>
	</div>
	{# MENU ORDERS #}
	<div class="menu_admin_items mb-6">
		<div class="menu_admin_title">
			<p class="text-base font-semibold text-gray">Orders</p>
		</div>
		<hr class="my-2">
		<ul class="menu_admin_links">
			<li class="menu_admin_links_item mb-2">
				<a href="" class="text-base">Orders</a>
			</li>
		</ul>
	</div>

	{# MENU ADMIN ITEMS HEADER #}
	<div class="menu_admin_items mb-6">
		<div class="menu_admin_title">
			<p class="text-base font-semibold text-gray">Header</p>
		</div>
		<hr class="my-2">
		<ul class="menu_admin_links">
			<li class="menu_admin_links_item mb-2">
				<a href="" class="text-base">Header</a>
			</li>
		</ul>
	</div>
	{# MENU ADMIN ITEMS EMPLOYEE #}
	<div class="menu_admin_items mb-6">
		<div class="menu_admin_title">
			<p class="text-base font-semibold text-gray">Employee</p>
		</div>
		<hr class="my-2">
		<ul class="menu_admin_links">
			<li class="menu_admin_links_item mb-2">
				<a href="{{path('show_employees')}}" class="text-base">Employees</a>
			</li>
			<li class="menu_admin_links_item mb-2">
				<a href="{{path('show_posts')}}" class="text-base">Posts</a>
			</li>
		</ul>
	</div>
	{# MENU ADMIN ITEMS OPEN/CLOSE SHOP #}
	<div class="menu_admin_items mb-6">
		<div class="menu_admin_title">
			<p class="text-base font-semibold text-gray">Opening hours</p>
		</div>
		<hr class="my-2">
		<ul class="menu_admin_links">
			<li class="menu_admin_links_item mb-2">
				<a href="" class="text-base">Open/Close</a>
			</li>
		</ul>
	</div>
	{# MENU ADMIN ITEMS REVIEWS #}
	<div class="menu_admin_items mb-6">
		<div class="menu_admin_title">
			<p class="text-base font-semibold text-gray">Reviews</p>
		</div>
		<hr class="my-2">
		<ul class="menu_admin_links">
			<li class="menu_admin_links_item mb-2">
				<a href="{{path('show_posts')}}" class="text-base">Posts</a>
			</li>
			<li class="menu_admin_links_item mb-2">
				<a href="" class="text-base">Store</a>
			</li>
		</ul>
	</div>
	{# MENU ADMIN ITEMS BLOG #}
	<div class="menu_admin_items mb-6">
		<div class="menu_admin_title">
			<p class="text-base font-semibold text-gray">Blog</p>
		</div>
		<hr class="my-2">
		<ul class="menu_admin_links">
			<li class="menu_admin_links_item mb-2">
				<a href="" class="text-base">Blog</a>
			</li>
		</ul>
	</div>
{# </div> #}
